$navbar-item-img-max-height: 2.5em;
@import "theme/_main";

// You can add additional styling here
.navbar-logo_img {
  margin-right: 12px;
}

.article .content p {
  text-align: justify; // As requested per mail 22 Nov 2021
}

.media-list img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.footer {
  background: #e8ebe7;
}
