$navbar-item-img-max-height: 2.5em;
@import "theme/_main";

// You can add additional styling here
.navbar-logo_img {
  margin-right: 12px;
}

.article .content {
  text-align: justify; // As requested per mail 22 Nov 2021
}